---
---

@import "{{ site.theme }}";

  .btn {
    color: #ff0000;
    border-color: #ff0000; 
    // background-color: #008CBA;
  } 

  .btn:hover {
    color: #0bb6e1cc;
    text-decoration: none;
    background-color: #f1c232;
    border-color: #ff0000;
  }

  .page-header {
    color: #ffffff;
    background-color: #cc580c;
    background-image: linear-gradient(120deg, #ffd966, #cc580c);
  
    @include large {
      padding: 5rem 6rem;
    }
  
    @include medium {
      padding: 3rem 4rem;
    }
  
    @include small {
      padding: 2rem 1rem;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }

  #our-mission {
    color: #ee7f00
  }

  #project-description {
    color: #ee7f00
  }

  #inspiration {
    color: #ee7f00
  }

  #what-it-does {
    color: #ee7f00
  }

  #how-we-built-it {
    color: #ee7f00
  }

  #challenges-we-ran-into {
    color: #ee7f00
  }

  #accomplishments-that-were-proud-of {
    color: #ee7f00
  }

  #what-we-learned {
    color: #ee7f00
  }

  #whats-next-for-firefly {
    color: #ee7f00
  }

  footer {
    display: none !important;
  }
